<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sapa.dao.INewsDao">
  <resultMap id="BaseResultMap" type="com.sapa.model.News">
    <id column="news_id" jdbcType="INTEGER" property="newsId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
  </resultMap>

  <insert id="addNews" parameterType="com.sapa.req.AddNewsReq">
        insert  into news (title,picture,content,publish_time) values (#{title},#{picture},#{content},#{publishTime})

  </insert>
</mapper>